<div class="wrapper">
  <div class="card">

    <h1 class="info" style="right: 100px;">Sis</h1>
    <img class="img" src="../assets/media/sis.jpg" />
  <p class="info_detail">Ezgiii</p>
  </div>
  
  <div class="card">
  
    <h1 class="info">Empire State</h1>
    <img class="img" src="../assets/media/empirestate.jpg" />
  <p class="info_detail">Ezgiii</p>
  </div>
  
  <div class="card">
  
    <h1 class="info">Palmiye</h1>
    <img class="img" src="../assets/media/palmiye.jpg" />
  <p class="info_detail">Ezgiii</p>
  </div>
  
  <div class="card">
  
    <h1 class="info">Deniz Feneri</h1>
    <img class="img" src="../assets/media/denizfeneri.jpg" />
  <p class="info_detail">Ezgiii</p>
  </div>
  
  <div class="card">
  
    <h1 class="info">Kiraz Çiçeği</h1>
    <img class="img" src="../assets/media/kirazcicegi.jpg" />
  <p class="info_detail">Ezgiii</p>
  </div>


</div>

